* {
    margin: 0;
    padding: 0;
}

:root {
    --laranja: #FC671D;
    --magenta: #D34AF4;
    --cinza: #faf6f7;
    --cinza-escuro: #888;
    --ciano: #0BC0D3;
    --base: #2c006a;
    --branco: #fff;
    --preto: #000;
    --sombra-base: rgba(44, 0, 106, 0.4);
    --sombra-preta: rgba(0, 0, 0, 0.4);
}

body {
    font-family: "Open Sans";
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--branco);
    border: black solid 2px;
    border-radius: 20px;
}

.searchBar {
    border-radius: 30px;
    width: 400px;
    border: none;
    padding: 10px;
    font-size: 25px;
}

.busca {
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

.searchBar:focus {
    outline: none;
}

.produtos {
    margin: 0 auto;
    padding: 100px;
    background-color: var(--branco);
}

.produtosDigix {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.barra {
    width: 40px;
    height: 0;
    top: 273px;
    left: 375px;
    border: 2px var(--laranja) solid;
}

.imagensDigix {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 250px);
    gap: 60px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.imagensCampanha {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(1, 250px);
    gap: 60px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.produtosEmGeral {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(1, 250px);
    gap: 60px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.imgD {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px var(--preto);
    width: 230px;
    height: 230px;
    padding: 10px;
    border-radius: 40px;
}

.imgD button {
    border: none;
    background: var(--branco);
    transition: 0.2s;
}

.imgD button:hover {
    scale: 1.2; 
}

.produtos .imagensP {
    width: 120px;
    height: auto;
}

.cardProdutos {
    text-align: center;
    width: 500px;
    height: 550px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.cardProdutos .NProduto {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    color: var(--preto);
}

.cardProdutos .imagemCard {
    display: flex;
    justify-content: center;
}

.cardProdutos .ImProduto {
    width: 230px;
    height: 230px;
    padding: 50px 0 50px 0;
}

.cardProdutos .preco {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 5px 0 10px;
}

.cardProdutos .preco p{
    padding-right: 10px;
    color: var(--laranja);
}

.cardProdutos .preco span{
    color: var(--ciano);
}

.cardProdutos .topo {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0 0;
}

.topo .X {
    border: none;
    background: var(--branco);
    font-size: 30px;
    cursor: pointer;
}

.topo .X img {
    width: 30px;
    height: auto;
}

.Adquirir {
    background-color: var(--magenta);
    color: #fff;
    font-size: 25px;
    padding: 10px 0;
    margin: 0 auto;
    border: none;
    border-radius: 25px;
    width: 70%;
    cursor: pointer;
    text-transform: uppercase;
}

.Adquirir:hover {
    background-color: rgb(255, 167, 255);
}