* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    display: flex;
    justify-content: center;

}

.search {
    display: flex;
    background-color: white;
    border: black solid 2px;
    border-radius: 20px;
}

.searchBar {
    border-radius: 30px;
    width: 300px;
    border: none;
    padding: 10px;
}

.busca {
    width: 40px;
    height: 40px;    
}

.searchBar:focus {
    outline: none;
}

.produtos {
    margin: 100px;
    padding: 100px;
    background-color: rgb(250, 246, 247);
}

.produtosDigix {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.barra {
    width: 40px;
    height: 0;
    top: 273px;
    left: 375px;
    border: 2px black solid;
}


.imagensDigix{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.imagensCampanha {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(1, 250px);
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.produtosEmGeral{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(1, 250px);
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.imgD, .imgC, .imgG {
    border: solid 5px black;
    width: 230px;
    height: 230px;
    padding: 10px;
    border-radius: 40px;
}