:root {
    --laranja: #FC671D;
    --magenta: #D34AF4;
    --cinza: #faf6f7;
    --cinza-escuro:#888;
    --ciano: #0BC0D3;
    --base: #2c006a;
    --branco: #fff;
    --preto: #000;
    --sombra-base:rgba(44, 0, 106, 0.4);
    --sombra-preta:rgba(0, 0, 0, 0.1);
  }
.popup {
    width: 600px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 20px;
    border: 1px solid var(--cinza);
    box-shadow: 0 10px 20px var(--sombra-preta), 0 6px 6px var(--sombra-preta);
}
/* posicao do botao de fechar do lado direito */
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-titulo {
    flex-grow: 1;
    text-align: center;
    color: var(--cinza-escuro);
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
.popup-closed {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    margin: 10px;
}
.popup-closed:hover {
    opacity: 0.7;
}
.popup-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
