<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menu_admin.css">
    <link rel="stylesheet" href="../menu/menu_colaborador/menu_colaborador.css">
</head>
<body>
    <div id="menuAdmin"></div>
    <div id="menuColaborador"></div>

    <script src="menu_admin.js"></script>
    <script src="../menu/menu_colaborador/menu_colaborador.js"></script>
</body>
</html>